force-app/main/default/flows/Nightly_Donation_Load.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Build_Opportunities</name>
        <label>Build Opportunities</label>
        <locationX>176</locationX>
        <locationY>756</locationY>
        <actionName>DonationCreationService</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>donations</name>
            <value>
                <elementReference>Donations</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Donations</name>
        <label>Get Donations</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <actionName>GiveWPDonationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Build_Opportunities</targetReference>
        </connector>
        <inputParameters>
            <name>parameters</name>
            <value>
                <elementReference>DonationParameters</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Donations</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Parameter_Collection</name>
        <label>Add Parameter Collection</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>DonationParameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DonationParameter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Donations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Donation_Parameter</name>
        <label>Set Donation Parameter</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>DonationParameter.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_API_Keys.Public_Key__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationParameter.token</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_API_Keys.Token__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Parameter_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Nightly Donation Load {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nightly Donation Load</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_API_Keys</name>
        <label>Get API Keys</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Donation_Parameter</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Give_API_Token__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_API_Keys</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-11-15</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DonationParameter</name>
        <apexClass>DonationParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonationParameters</name>
        <apexClass>DonationParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Donations</name>
        <apexClass>Donation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
